sudo: required

# services that we need to run our tests
services:
  - docker

# series of commands to run before our tests are ran
before_install:
  - docker build -t docker-react-test -f Dockerfile.dev .

# commands to run our test suite after the build is successful
script:
  - docker run -e CI=true docker-react-test npm run test

# configuration to deploy our application to AWS
deploy:
  provider: elasticbeanstalk
  # xxxxx.ap-northeast-2.elasticbeanstalk.com
  region: "north-east-2"
  app: "myppName"
  env: "MyppName-env"
  bucket_name: "elasticbeanstalk-ap-northeast-2-174644799367"
  bucket_path: "myppName"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
